
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: rgb(13, 106, 112); /* header, botones primarios, resaltados (hover), */
  --color-secondary: rgb(227, 251, 253); /* constraste del color primario (parrafos, textos de boton, links)*/
  --color-tertiary: rgb(201, 247, 237); /* */
  --color-fourth: rgb(64, 62, 62); /* textos del boton y textos del input */
  --color-fifth: rgb(248, 252, 255); /* background */

  --background-body: var(--color-fifth);
  --header: var(--color-primary);
  --footer: var(--color-primary);

  --headline: #33272a;  
  --subheadline: #33272a;
  --paragraph: var(--color-secondary);
  
  --button-primary: var(--color-primary);
  --button-primary-text: var(--color-secondary);
  --button-primary-hover: var(--color-tertiary);

  --button-secondary: var(--color-tertiary);
  --button-secondary-text: var(--color-fourth);

  --link-text: var(--color-secondary);
  --link-hover: var(--color-tertiary);

  --card-background: #03506f;
  --card-text: var(--color-fourth);

  --shadow-color: 0deg 0% 63%;
  --box-shadow:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);

  --radius: 8px;
}

body {
  margin: 0;
  background-color: var(--background-body);
}

